
.main-nav{
    background-color: #F18D00;
    height: 50px;
    font-size: 16px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.main-nav i{
    color: #fff;
    /*vertical-align: bottom;*/
}


.main-nav a{
    margin-left: 10px;
    color: #fff;
}
.main-nav .nav-first{
    color: #000;
}
.nav-item .fa-stack{
    padding-top: 4px;
}
/*.nav-item i{*/
/*color: #fff;*/
/*}*/
.navbar-nav .dropdown-item{
    color: #000;
}
.nav-item .nav-text{
    color: #fff;
    vertical-align: bottom;
    font-size: 14px;
    /*padding: 0px;*/
    margin: 12px 0px 0px 2px;
}
.nav-small{
    font-size: 12px;
}
.nav-item .nav-border{
    border: solid 1px #fff;
    border-radius: 3px;
    padding: 3px 8px 0px 8px;
    color:#fff;
    margin: 8px 0px 0px 10px;
    font-size: 14px;
    /*margin-left: 10px;*/
}

/*.sidebar{*/
/*height: 100%;*/
/*width: 160px;*/
/*position: fixed;*/
/*z-index: 1;*/
/*top: 0;*/
/*left: 0;*/
/*background-color: #fff;*/
/*overflow-x: hidden;*/
/*padding-top: 20px;*/
/*}*/
.row{
    padding-left: 10px;
}
.text-name{
    color: #777777;
}
.avatar{
    margin-left: -15px;
    display: flex;
    /*vertical-align: middle;*/
}
.avatar .description{
     margin: 40px 0px 0px 5px;

 }

.search{
    padding-bottom: 20px;
    width: 310px;
}
.menu-content a{
    color: #000;
    text-decoration:none;
}
.dropdown-item{
    width: 100%;
}
/*.dropdown-toggle:after {*/
/*border: none;*/
/*}*/
.menu-content{
    width: 310px;
    border: 1px solid #fff;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    color: #777777;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
    color: #777777;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 1px solid #F5F5F5;
    background-color: #FFFEFC;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #000;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #FFFEFC;
    border: none;
    line-height: 28px;
    border-bottom: 2px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    border-left: 2px solid #F5F5F5;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    /*content: "\f105";*/
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    color: #777777;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #777777;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
    color: #777777;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
.sub-menu a{
    margin-left: 50px;
    font-size: 14px;
}
.sub-menu .item-icon a{
    margin-left: 20px;
}
.sub-menu .item-icon a,
.sub-menu .item-icon i{
    opacity: 0.5;
}
.sub-menu .blur a,
.sub-menu .blur i{
    opacity: 0.3;
}
.blur{
    opacity: 0.5;
}
.nav-side-menu{
    margin-top: 50px;
    /*overflow: auto;*/
    font-weight: 200;
    position: fixed;
    width: 320px;
    height: 100%;

}
.nav-side-menu .item-border{
    border-bottom: 1px solid #7070708f;
}
.nav-side-menu .item-no-border{
    border-bottom: 1px solid #fff;
}
.nav-side-menu ul li .unread{
    float: right;
    margin: 6px 0px 0px 0px;
    padding: 0px 0px 20px 5px;
    background-color: #F18D00;
    width: 36px;
    height: 25px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.73125rem;
    /*text-align: center;*/
    vertical-align: top;
}
.nav-side-menu ul li .icon-add{
    float: right;
    vertical-align: middle;
    margin-right: 10px;
}
.menu-list{
    margin-top: -15px;
    max-height: 25em;
    overflow-y: auto;
}
.right-content{

    height: 50px;
    /*width: 903px;*/
    margin: 75px 10px 10px -20px;
    font-size: 0.75rem;
    color: #777777;
}
.back{
    margin-bottom: 40px;
}
.back-icon{
    background-color: #EEEEEE;
    padding:15px 15px 10px 15px;
}
.back-icon i{
    color: #3D7FB7;
    font-size: 1.265625rem;
    cursor: pointer;
}
.back-text{
    font-size: 1.3125rem;
    text-align: center;
    padding-left: 350px;
    color: #000;
}
.span-time{
    font-size: 0.75rem;
    /*margin-right: 5px;*/
}
.input-date{
    display: inline;
    width: 90px;
    height: 32px;
    margin:0px 5px ;
    font-size: 0.75rem;
}
.input-date.first{
    margin: 0px 5px 0px 0px;

}


select.form-control:not([size]):not([multiple]).input-date.second{
    height: 32px;
    width: 120px;
    font-size: 0.73125rem;
    padding-left: 3px;
}
select.form-control:not([size]):not([multiple]).input-date.third{
    height: 32px;
    width: 60px;
    margin-right: 15px;
    font-size: 0.73125rem;
    padding-left: 3px;
}
.input-date.fourth{
    /*margin: 0px 5px 0px 0px;*/
    width: 560px;
}
.input-date.fifth{
    /*margin: 0px 5px 0px 0px;*/
    width: 520px;
}
.input-date.sixth{
    /*margin: 0px 5px 0px 0px;*/
    width: 340px;
}
.input-date.seventh{
    width: 660px;
}
.input-date.eighth{
    width: 200px;
    margin: 0px;
}
.input-date.nineth{
    width: 70px;
}

.title-label{
    padding-left: 350px;
}
.title-label.label1{
    padding-left: 380px;
}
.title-label.label2 {
    padding-left: 560px;
}
/*.second {*/
    /*height: 32px;*/
    /*width: 120px;*/
/*}*/

.small{
    display: inline;
    width: 55px;
    height: 32px;
    font-size: 0.75rem;
}


.form-group input:checked ~ .color-checkbox:after {
    background-color: #F18D00;
    border-radius:0.125rem ;
}
.btn-custom{
    background-color: #004580;
    width: 88px;
    height: 32px;
    color: #fff;
    margin-left:460px;
    font-size: 0.84375rem;
    margin-bottom: 30px;
}
.btn-custom1{
    background-color: #004580;
    width: 60px;
    height: 32px;
    color: #fff;
    margin-left:460px;
    font-size: 0.84375rem;
    margin-bottom: 30px;
}
.btn-custom2{
    width: 100px;
    height: 32px;
    float: right;
    margin-top: 5px;
    margin-right: 4px;
}
.btn-custom3{
    width: 100px;
    height: 32px;
    background-color: #7CBD45;
    margin-left: 15px;
    color: #fff;
    font-size: 0.84375rem;
    
}
.title{
    font-size: 18px;
    color: #333333;
    margin-top: 30px;
}
.title.first{
     margin-left: -7px;

 }
select {
    /*border: 1px solid #ccc;*/
    height: 26px;
    line-height: 18px;
    margin: 0;
    padding: 3px;
    background: transparent none no-repeat;
    cursor: pointer;
}

@media screen and (min-width:0) {
    /* for relatively modern browsers including IE 8+ */
    select {
        border-radius: 4px;
        background-image: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAAlElEQVRIx+2VwQ3AIAhFwTiFi7KC7uYGHo1z0Et7MWkjaEiaQOJBDzy/wgdqrXwHWKyAiGAZDnSgHBhC+IfCUgqbKXxgGqhY4QyRQkUK35KLoK01iZd+xZKXRuEfbvdQPPGkAABEhMeLhohE5yfaAufk93791r13zQDmnLNqcOMYg1NKmoJgTRHtmDeaWZvPQweaAi8PXSmZJU3QRAAAAABJRU5ErkJggg==");
        background-position: -50px -50px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* for Webkit */
    select {
        -webkit-appearance: none;
        background-position: right center;
        padding: 3px 32px 3px 5px;
    }
}

@-moz-document url-prefix() {
    /* for Firefox */
    select {
        display: flex;
        border: 0;
        box-shadow: inset 0 0 1px #000;
        padding: 0;
        background-position: right center;
        padding-right: 16px;
        color: transparent;
        /* this shifts the text down a few pixels and removes the focus-ring */
        text-shadow: 0 4px 0 #000;
        text-indent: 2px;
    }
    select * {
        color: black;
        text-shadow: none;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* for IE10+ */
    select::-ms-expand {
        display: none;
    }
    select {
        background-position: right center;
        padding-right: 30px;
    }
}

.p-content{
    color: #333333;
    font-size: 0.75rem;
}
.icon-remove i{
    font-size: 1.75rem;
    color: #3D7FB7;
    cursor: pointer;
    vertical-align: top;
}
.square {
    width: 20px;
    height: 20px;
    background-color: #FFEBFB;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
    vertical-align: middle;
}
.square1{
    background-color: #FFCD97;
}
.square2{
    background-color: #E7EFD8;
}
.square3{
    background-color: #E4CFF9;
}
.square4{
    background-color: #FFF6A4;
}
.square5{
    background-color: #FFBDC5;
}
.square6{
    background-color: #DCDCDC;
}
.square7{
    background-color: #fff;
}

.square8{
    background-color: #91B05F;
    margin: 5px 20px;
}
.square9{
    background-color: #9466AF;
    margin: 5px 20px;
}
.label-input{
    margin: 0px 10px 0px 10px;
}
.icon-arrow{
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    display: inline;
}
.icon-arrow i{
    vertical-align: middle;
    margin: 5px 10px 5px 10px;
    color: #000;
    font-size: 1.5em;
    /*display: inline;*/
}

.line{
    border-collapse: separate;
    border-spacing: 16px 0;
    border-spacing: 1rem 0;
    color: #979797;
    display: table;
    font-family: Merriweather;
    font-size: 5em;
    line-height: .25;
    margin: 1em 0 .5em;
    table-layout: auto;
    /*text-align: center;*/
    /*text-shadow: .0625em .0625em 0 rgba(0, 0, 0, .2);*/
    white-space: nowrap;
    width: 100%;
}


.line { font-size: 2em; }
.line:before,
.line:after {
    border-top: 3px double #979797;
    content: '';
    display: table-cell;
    width: 100%;
    border-top-style: dashed;
}
.right-table{
    background-color: #F8F8F8;
    width: 342px;
    height: 170px;
    border-radius: 5px;
}
.content2{
    height: 40px;
}
.member{
    margin-top: 5px;
}
.information{
    margin: 10px 10px 0px -8px;
}
.avatar-person{
    display: flex;
    margin: 0px 10px -5px 10px;
}
.avatar-person img{
    width: 32px;
    height: 32px;
    vertical-align: middle;
    
}
.remove-right{
   margin-left: 170px;
}
