.alert{
  color: red;
  display: inline;

}
.alertItemDate01{
  margin-left: -36px;
}
.alertReason{
  padding-left: 0px ;
}
.alertItemDate02{
  padding: 0px;
}
.alertOtherReason{
  padding-left: 174px ;
}
.alertItemDate03{
  padding: 0px;
}
.alertItemDate04{
  padding: 0px;
}
.alertItemCheck{
  padding-left: 80px;
}
.alertSelect04{
  padding-left: 212px;
}
.alertReason04{
  padding-left: 110px;
}
.alertItemStartDate{
  padding: 0px;
}
.alertItemSelect05{
  padding-left: 70px;
}
.alertItemEndDate{
  padding-left: 40px;
}
.alertItemSelect06{
  padding-left: 52px;
}
.alertItemOtherReason05{
  padding-left: 172px;
}
.date-picker{
  //border-color: #7CBD45;
  background-color: #fff;
  font-size: .75rem;
}
